.form {
   position: relative;
   width: 250px;
   height: 48px;
   margin-bottom: 10px;
}

.form__input {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 12px 10px; /* padding lớn hơn để input date nhìn rõ */
   border: 2px solid #008cba;
   border-radius: 0.5rem;
   font-size: 15px;
   background-color: white; /* SỬA: nếu để none thì input date bị ẩn */
   outline: none;
   color: #367af6;
   box-sizing: border-box; /* quan trọng để không bị tràn */
}

.form__input:focus,
.form__input:hover {
   border-color: #367af6;
}

.form__label {
   position: absolute;
   top: 12px;
   left: 16px;
   color: #008cba;
   background-color: white; /* chỉnh cùng màu nền */
   padding: 0 4px;
   transition: 0.2s ease;
   pointer-events: none;
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
   top: -8px;
   left: 12px;
   font-size: 12px;
}

.btn-like {
   cursor: pointer;
   /* outline: 2px solid #008cba; */
   display: inline-block;
   /* font-weight: 400; */
   line-height: 1.5;
   text-align: center;
   background-color: transparent;
   /* border: 2px solid transparent; */
   padding: 6px 12px;
   font-size: 14px;
   border-radius: 0.8rem;
   transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   color: #008cba;
   border: 2px solid #008cba;
}
.btn-like:hover {
   /* color: #fff; */
   background-color: #b8b6b6;
   border: 2px solid #367af6;
}
