ul.pagination {
   display: inline-block;
   padding: 0;
   margin: 0;
}

ul.pagination li {
   display: inline;
}

ul.pagination li a {
   color: black;
   float: left;
   padding: 8px 16px;
   text-decoration: none;
   transition: background-color 0.3s;
   border: 1px solid #ddd;
}

ul.pagination li :hover a {
   background-color: #008cba;
   color: white;
   border: 1px solid #008cba;
}

ul.pagination li a:hover:not(.active) {
   background-color: #008cba;
   color: white;
}

.active {
   background-color: #008cba;
   color: white;
}

.footer {
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   bottom: 3px;
   width: 80%;
}

.div-middle {
   display: flex;
   flex-direction: column;
   position: absolute;
   align-items: center;
   justify-content: center;
   top: 3px;
   width: 80%;
}

.div-padding {
   margin: 0;
   padding: 5px 0px 10px 0px;
}
