{% extends "sidebar.html" %} {% load static %} {% block title %} This is ModelForm page {% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/myTable.css' %}" />
<link rel="stylesheet" href="{% static 'css/myStyle.css' %}" />
<link rel="stylesheet" href="{% static 'css/btnStyle.css' %}" />
<link rel="stylesheet" href="{% static 'css/inputStyle.css' %}" />

<h1>Sử dụng ModelForm update database</h1>
<p>I'm testing ModelForm update</p>
{% csrf_token %}
<form method="post">
   {% csrf_token %}
   <div class="flex-col">
      {% for field in form %}
      <div class="form" style="width: 250px; height: 40px">
         {{ field }}
         <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
      </div>
      {% endfor %}
   </div>
   <button type="submit" name="welcome" value="Welcome" style="width: 120px; height: 39px" class="btn-like">Cập nhật</button>
</form>

{% endblock %}
