{% extends "sidebar.html" %} {% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    {% block title %} This is students page {% endblock %} {% block content %}
    <link rel="stylesheet" href="{% static 'css/myTable.css' %}" />
    <table id="table" class="styled-table">
      <thead>
        <tr>
          <th>Stt</th>
          <th>Id</th>
          <th>Full Name</th>
          <th>Birthday</th>
          <th>Sex</th>
          <th>Class Name</th>
          <th>Aaverage</th>
          <th>Morality</th>
          <th>Performance</th>
        </tr>
      </thead>
      <tbody>
        {% for stu in students %}
        <tr>
          <td></td>
          <td>{{stu.0}}</td>
          <td>{{stu.1}}</td>
          <td>{{stu.2}}</td>
          <td>{{stu.3}}</td>
          <td>{{stu.4}}</td>
          <td>{{stu.5}}</td>
          <td>{{stu.6}}</td>
          <td>{{stu.7}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      let table = document.getElementById("table");

      for (let i = 1; i <= table.rows.length; i++) {
        table.rows[i].cells[0].innerHTML = zeroPad(i.toString(), 2, "0");
        // table.rows[i].cells[3].innerHTML = formatDateVN(new Date(table.rows[i].cells[3].innerHTML));
      }

      function zeroPad(numberStr, padStart, char) {
        return numberStr.padStart(padStart, char);
      }

      function formatDateVN(strDate) {
        let curDay = strDate.getDate();
        let curMonth = strDate.getMonth() + 1;
        let curYear = strDate.getFullYear();

        function checkDayMonth(i) {
          if (i < 10) {
            i = "0" + i;
          }
          return i;
        }

        return (
          checkDayMonth(curDay) + "/" + checkDayMonth(curMonth) + "/" + curYear
        );
      }
    </script>

    {% endblock %}
  </body>
</html>
