{% extends "sidebar.html" %} {% load static %} {% block title %} Form edit {% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/myStyle.css' %}" />
<link rel="stylesheet" href="{% static 'css/btnStyle.css' %}" />
<link rel="stylesheet" href="{% static 'css/inputStyle.css' %}" />

<h1>Sử dụng Ajax - Fetch Api</h1>
<p>I'm testing ModelForm</p>

<form method="post" action="{% url 'profile_find_redirect' %}">
   {% csrf_token %}
   <div class="flex-col">
      <div class="form" style="width: 250px; height: 40px">
         <input name="id" type="text" id="id" class="form__input" autocomplete="off" placeholder=" " />
         <label for="id" class="form__label">Mã nhân viên</label>
      </div>
   </div>
   <button type="submit" name="welcome" value="Welcome" style="width: 120px; height: 39px" class="btn-like">Cập nhật</button>
</form>
{% endblock %}
