.styled-table thead tr th .center {
  text-align: center;
}

.styled-table thead tr th .rightText {
  text-align: right;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 1px 5px 10px 4px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #01877e;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 8px 15px;
  border: 1px solid #cecece;
}

.styled-table tbody tr:hover td {
  background-color: #bcfefe;
}
/* Phải thêm td sau tr:hover khi dùng tr:nth-child(even) */

.styled-table tbody tr:nth-child(even) {
  background-color: #f8f6f0;
}

.styled-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #01877e;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #2d99ea;
}
