.form {
   position: relative;
   width: 20rem;
   height: 3rem;
}

.form__input {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 50%;
   border: 2px solid #008cba;
   border-radius: 0.5rem;
   font-family: inherit;
   font-size: inherit;
   color: #367af6;
   outline: none;
   padding: 1.25rem;
   background: none;
}

.form__input:focus,
.form__input:hover {
   border-color: #367af6;
}

.form__label {
   position: absolute;
   top: 12px;
   left: 16px;
   padding: 0 4px;
   color: #008cba;
   cursor: text;
   transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
   background-color: white;
}
/* 
        1. When the input is in the focus state
        reduce the size of the label and move upwards 
        2. Keep label state when content is in input field 
        */

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
   top: -8px;
   left: 12px;
   font-size: 13px;
}
